[app_info]
name = "go-template"
env = "local"

[postgres]
host = "db"
port = 5432
database = "ta-spbe"
username = "ta-spbe"
password = "ta-spbe"
ssl_mode = "disable"
migration = true
log_level= "debug"
conn_max_open = 5
conn_max_idle = 5
logging = true
tracing = true

[logger]
level = "debug"
output = "console"

[tracer]
enable = true
exporter = "otlp-grpc"
exporter_endpoint = "otel-collector:4317"
sampling = "always"
sampling_ratio = 0.5