[api]
host = "localhost"
rest_port = 3001

[app_info]
name = "go-template"
env = "local"

[postgres]
host = "db"
port = 5432
database = "ta-spbe"
username = "ta-spbe"
password = "ta-spbe"
ssl_mode = "disable"
migration = true
log_level= "debug"
conn_max_open = 5
conn_max_idle = 5
logging = true
tracing = true

[logger]
level = "debug"
output = "console"

[tracer]
enable = true
exporter = "otlp-grpc"
exporter_endpoint = "otel-collector:4317"
sampling = "always"
sampling_ratio = 0.5

[jwt]
secret = "secret"

[oauth]
client_id = "1086765098012-hd47p3sfjpqq73oecvsvv52fqijs1o6p.apps.googleusercontent.com"
client_secret = "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"
redirect_uri = "http://localhost/auth/google/callback"